<h1>Welcome to CSE Motors!</h1>
<figure>
    <div class="card">
        <h3>DMC Delorean</h3>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <img src="/images/site/own_today.png" alt="own today">
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="delorean car">
</figure>
<div class="lower">
<dl>
    <h2>Delorean Upgrades</h2>
    <div id="features">
    <figure1>
        <img src="/images/upgrades/flux-cap.png" alt="flux">
        <figcaption>Flux Capacitor</figcaption>
    </figure1>
    <figure2>

        <img src="/images/upgrades/flame.jpg" alt="flame">
        <figcaption>Flame Decals</figcaption>
    </figure2>
    <figure3>
        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper">
        <figcaption>Bumper stickers</figcaption>
    </figure3>
    <figure4>
        <img src="/images/upgrades/hub-cap.jpg" alt="hub">
        <figcaption>Hub Caps</figcaption>
    </figure4>
    </div>
</dl>
<dl id="comment">
    <h2>DMC Delorean Reviews</h2>
        <p>• "So fast it's almost like travelling in time."(4/5)</p>
        <p>• "Coolest on the road."(4/5)</p>
        <p>• "I'm feeling Mcfly."(5/5)</p>
        <p>• "The most futuristic ride of our day."(4.5/5)</p>
        <p>• "80's livin and I love it!."(5/5)</p>
</dl>
</div>