/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  top: auto;
  bottom: auto;
  min-width: 10%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.siteName >a,
#tools >a{
  text-decoration: none;
  color: rgb(25, 31, 48);
}

.siteName {
  font-size: 2em;
}
nav,
ul,
li{
  display: flex;
  letter-spacing: 0px;
  padding: 2.5px 10px;
  margin: 0 5px;
  justify-content: space-evenly;
  color: aliceblue;
  background-color: rgb(25, 31, 48);
  font-size: large;
  width: 100%;
}
h1{
  color: rgb(25, 31, 48);
  font-size: x-large;
}
figure{
  text-align: center;
}
.card{
  color: rgb(79, 86, 100);
  width: fit-content;
  height: auto;
  background-color: rgb(186, 254, 231);
  text-align: left;
  padding: 5px;
  margin: 2px;
}
h3,p,button{
  margin: 0%;
}